<h1>Sensei#show</h1>
<p>Find me in app/views/sensei/show.html.erb</p>

<h1>Senseis #<%= @sensei.id %></h1>
<p>Find me in app/views/senseis/show.html.erb</p>

<%= link_to 'Defina sua disponibilidade para aulas', sensei_agendas_path(@sensei), class: 'btn btn-primary' %>
