// Specific CSS for your home-page

.card {
  height: 200px;
}

.pexels {
  width: 100%;
}

.start-now {
  position: absolute;
  top: 500px;
  left: 600px;
}

.button {
  margin-left: 10px;
}

.computer-pic{
  width:100%;
  margin-top:50px;
}

.subject-card{
  color:white;
  border: 1px solid black;
  border-radius:10px;
  padding:50px 20px;
  margin-bottom:50px;
}

#math{
  background-image: url(math.jpg);
}

#port{
  background-image: url(port.jpg);
}

#quim{
  background-image: url(quimica.jpg);
}
