<div class="banner-search">
     <h1>SENSEI</h1>
    <h2>Instant classes whenever you want!</h2>
  <p><span style="color: #ffffff;">Search a content: </span></p>
  <%= form_tag senseis_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Sensei"
      %>
    <% end %>
</div>
