<!-- OpenTok.js library -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render(:partial => 'shared/video', :handlers => [:erb], :formats => [:js]) %>
  <% end %>
<% end %>
<h1>a mt bom dia </h1>
