// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


.division1 {
  margin-left: 100px;
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}

.division2 {
  margin-right: 100px;
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}

.wrapp {
  display: flex;
  justify-content: space-between;
}

.agenda {
  text-size: 300px;
}

.user-profile{
  background-color: white;
  padding:20px;
  margin:20px;
}

.sensei-profile{
  background-color: rgba(255,255,255,0.8);
  padding:20px;
  margin:20px;
  border-radius: 10px;
  border: 1px solid grey;
}

.sensei-profile-index{
  border: 1px solid black;
  padding:10px;
  border-radius:5px;

}

.sensei-profile-index:hover{
  border: solid 1px gray;
  border-radius: 5px;
  background-color: rgba(233,233,233,0.7)
}

.be-sensei{
  height:50px;
}

.features{
  border-top: 1px solid black;
  padding-top:40px;
}


#sensei-title{
  font-size: 100px;
}

.home-list > li {
  margin:7px;
}


.sensei-index{
  background-image: url(https://www.freevector.com/uploads/vector/preview/2098/FreeVector-Bamboo-Background.jpg
);
  background-position: 0px 0px;
  background-repeat: repeat;
}

#publisher{
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  z-index: 1;
}

.login-container{
  background-color: rgba(255,255,255,0.9);
  padding: 10px;
  margin:20px;
  border-radius:10px;
}
